includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    level: 8

    universalObjectCratesClasses:
        - Illuminate\Routing\Route
        - ArchTech\SEO\SEOManager

    ignoreErrors:
        - '#SEOManager\|array\|string\|null#'
        - '#string\|false given#'
        - '#flipp\(\) should return#'
        - '#\_\_set\(\) has no return typehint specified#'

    checkMissingIterableValueType: false
